<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% if error_message %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="id_UserName">Username:</label>
                <input type="text" class="form-control" id="id_UserName" name="UserName" required>
            </div>
            <div class="form-group">
                <label for="id_Password">Password:</label>
                <input type="password" class="form-control" id="id_Password" name="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
