<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management System</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Edit Task</h1><br><br>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_Title" class="col-sm-2 col-form-label">Title:</label>
                        <input type="text" class="form-control" name="Title" placeholder="{{ data.Title}}" required>
                    </div>
                    <div class="form-group">
                        <label for="id_Description" class="col-sm-3 col-form-label">Description:</label>
                        <textarea class="form-control" cols="30" rows="4"name="Description" placeholder="{{ data.Description }}" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_DueDate" class="col-sm-3 col-form-label">DueDate:</label>
                        
                        {{ status.DueDate }}
                    </div>
                    <div class="form-group">
                        <label for="id_Status" class="col-sm-3 col-form-label" >Status:</label>
                        {{ status.Status }}
                    </div>
                    
                    <div class="form-group">
                        <label for="id_Priority" class="col-sm-3 col-form-label">Priority:</label>
                        {{ status.Priority }}
                    </div>
                    <button type="submit" class="btn btn-primary">Uptade Task</button>
                </form>
            </div>
        </div>
    </div>
    </form>
</body>